<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create new car!</title>
</head>
<body>
    <h1>Create Your Car Listing</h1>
    <form method="POST">
        <label for="make">Make:</label><br>
        <input type="text" id="make" name="make" required><br>
        <label for="model">Model:</label><br>
        <input type="text" id="model" name="model" required>
        <br>
        <label for="year">Year:</label><br>
        <input type="text" id="year" name="year" required>
        <br>
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
